body {
    padding: 5vh 10% 5vh 10%;
    background-color: #202020;
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif
}
@media (orientation: portrait) {
    body {
        padding: 5vh 5vw 5vh 5vw;
        font-size: 2vh;
    }
}

.description {
    margin-top: 0;
    margin-bottom: 5vh;
}
h1 {
    margin-bottom: 1vh;
}
a {
    color: #518eff
}
.error {
    visibility: hidden;
    color: red;
    font-size: 1.5vh;
    margin-bottom: 0;
}
input {
    border: none;
    border-bottom: 1px solid #404040;
}
button {
    border-radius: 5px;
    border-top: 1px solid #659bff;
    border-left: 1px solid #659bff;
    border-right: 1px solid #387dff;
    border-bottom: 1px solid #387dff;
    background-color: #518eff;
}

.videos-list {
    margin-top: 5vh
}

@media (orientation: landscape) {
    input {
        width: 15vw;
        height: 2.7vh;
        font-size: 2.3vh;
    }
    button {
        height: 3vh;
        width: 6vw;
    }
    #count {
        margin-left: 4vw;
        width: 3vw;
    }
    #website {
        margin-left: 4vw;
        width: 8vw;
    }
    .remove-vid-btn {
        display: block;
        margin-bottom: 5vh;
        background-color: #b00000;
    }
}

@media (orientation: portrait) {
    input {
        width: 75%;
        height: 5vh;
        font-size: 2vh;
    }
    button {
        border-radius: 1vw;
        height: 5.2vh;
        width: 20%;
        font-size: 2vh;
    }
    #count {
        width: 10vw;
    }
    #website {
        float: right;
        width: 40vw;
        margin-right: 22vw;
    }
    video {
        width: 100%;
        height: auto;
    }
    .remove-vid-btn {
        margin-bottom: 3vh;
        background-color: #b00000;
        height: 4.5vh;
    }
}